{% extends 'base/base.html' %}
{% load static %}

{% block title %}Select Template{% endblock %}

{% block content %}
<div class="container mt-4">

    <h2 class="section-title text-center mb-2">Choose Your Resume Template</h2>
    <p class="section-subtitle text-center text-muted mb-4">
        You can always change your template later.
    </p>

    <!-- FORM -->
    <form method="post" action="{% url 'select_template' %}">
        {% csrf_token %}

        <div class="template-grid">

            <!-- TEMPLATE 1 -->
            <div class="template-card">
                <div class="template-image-wrapper">
                    <img src="{% static 'images/withphoto.png' %}" alt="Template 1">
                </div>

                <div class="recommended-badge">RECOMMENDED</div>

                <div class="template-hover-overlay">
                    <button type="submit"
                            name="template"
                            value="template1"
                            class="use-template-btn">
                        Use this template
                    </button>
                </div>
            </div>

            <!-- TEMPLATE 2 -->
            <div class="template-card">
                <div class="template-image-wrapper">
                    <img src="{% static 'images/without1.png' %}" alt="Template 2">
                </div>

                <div class="template-hover-overlay">
                    <button type="submit"
                            name="template"
                            value="template2"
                            class="use-template-btn">
                        Use this template
                    </button>
                </div>
            </div>

            <!-- TEMPLATE 3 -->
            <div class="template-card">
                <div class="template-image-wrapper">
                    <img src="{% static 'images/without2.png' %}" alt="Template 3">
                </div>

                <div class="template-hover-overlay">
                    <button type="submit"
                            name="template"
                            value="template3"
                            class="use-template-btn">
                        Use this template
                    </button>
                </div>
            </div>

             <!-- TEMPLATE 4 -->
            <div class="template-card">
                <div class="template-image-wrapper">
                    <img src="{% static 'images/Fresher1.png' %}" alt="Template 4">
                </div>

                <div class="template-hover-overlay">
                    <button type="submit"
                            name="template"
                            value="template2"
                            class="use-template-btn">
                        Use this template
                    </button>
                </div>
            </div>

             <!-- TEMPLATE 5 -->
            <div class="template-card">
                <div class="template-image-wrapper">
                    <img src="{% static 'images/Curriculum Vitae Minimalista Blanco Azul.png' %}" alt="Template 5">
                </div>

                <div class="template-hover-overlay">
                    <button type="submit"
                            name="template"
                            value="template2"
                            class="use-template-btn">
                        Use this template
                    </button>
                </div>
            </div>

             <!-- TEMPLATE 6 -->
            <div class="template-card">
                <div class="template-image-wrapper">
                    <img src="{% static 'images/without1.png' %}" alt="Template 6">
                </div>

                <div class="template-hover-overlay">
                    <button type="submit"
                            name="template"
                            value="template2"
                            class="use-template-btn">
                        Use this template
                    </button>
                </div>
            </div>

             <!-- TEMPLATE 7 -->
            <div class="template-card">
                <div class="template-image-wrapper">
                    <img src="{% static 'images/without1.png' %}" alt="Template 7">
                </div>

                <div class="template-hover-overlay">
                    <button type="submit"
                            name="template"
                            value="template2"
                            class="use-template-btn">
                        Use this template
                    </button>
                </div>
            </div>

             <!-- TEMPLATE 8 -->
            <div class="template-card">
                <div class="template-image-wrapper">
                    <img src="{% static 'images/without1.png' %}" alt="Template 8">
                </div>

                <div class="template-hover-overlay">
                    <button type="submit"
                            name="template"
                            value="template2"
                            class="use-template-btn">
                        Use this template
                    </button>
                </div>
            </div>

             <!-- TEMPLATE 9 -->
            <div class="template-card">
                <div class="template-image-wrapper">
                    <img src="{% static 'images/without1.png' %}" alt="Template 9">
                </div>

                <div class="template-hover-overlay">
                    <button type="submit"
                            name="template"
                            value="template2"
                            class="use-template-btn">
                        Use this template
                    </button>
                </div>
            </div>

             <!-- TEMPLATE 10 -->
            <div class="template-card">
                <div class="template-image-wrapper">
                    <img src="{% static 'images/without1.png' %}" alt="Template 10">
                </div>

                <div class="template-hover-overlay">
                    <button type="submit"
                            name="template"
                            value="template2"
                            class="use-template-btn">
                        Use this template
                    </button>
                </div>
            </div>

             <!-- TEMPLATE 11 -->
            <div class="template-card">
                <div class="template-image-wrapper">
                    <img src="{% static 'images/without1.png' %}" alt="Template 11">
                </div>

                <div class="template-hover-overlay">
                    <button type="submit"
                            name="template"
                            value="template2"
                            class="use-template-btn">
                        Use this template
                    </button>
                </div>
            </div>

             <!-- TEMPLATE 12 -->
            <div class="template-card">
                <div class="template-image-wrapper">
                    <img src="{% static 'images/without1.png' %}" alt="Template 12">
                </div>

                <div class="template-hover-overlay">
                    <button type="submit"
                            name="template"
                            value="template2"
                            class="use-template-btn">
                        Use this template
                    </button>
                </div>
            </div>


        </div>

        <!-- Navigation -->
        <div class="d-flex justify-content-between mt-4">
            <a href="{% url 'edit_additional' %}" class="btn btn-secondary">
                ← Back
            </a>
            
        </div>

    </form>

</div>
{% endblock %}