{% extends "base/base.html" %}

{% block page_layout %}
<div class="content">
    <h2>Select Resume Template</h2>

    <form method="post">
        {% csrf_token %}

        <div>
            <label>
                <input type="radio" name="template" value="template1" required>
                Template 1 (Classic)
            </label>
        </div>

        <div>
            <label>
                <input type="radio" name="template" value="template2">
                Template 2 (Modern Sidebar)
            </label>
        </div>

        <div>
            <label>
                <input type="radio" name="template" value="template3">
                Template 3 (Clean Minimal)
            </label>
        </div>

        <br>
        <button type="submit">Generate Resume</button>
    </form>
</div>
{% endblock %}
